body {
    background-image: url('1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.justify {
    margin-left: 25%;
    width: 600px;
    height: 350px;
    border: 2px solid red;
    background-image: url('avocado.jpg');
    background-size: 30%;
    background-repeat: repeat;
    color: blue;
}

.repeat {
    margin-left: 25%;
    width: 600px;
    height: 350px;
    border: 2px solid red;
    background-image: url('avocado.jpg');
    background-repeat: repeat-x;
    background-size: 30%;
}

p {
    padding-top: 10px;
    text-align: justify;
}